<div class="banner">
  <div class="app-text">
    <h1>Our basic thesis for bitcoin<br>is that it is better than gold</h1>
    <p>
      Contrary to popular belief, Lorem Ipsum is not simply random<br> text.
      It has roots in a piece of classical Latin literature from the 45 BC,
      <br> making it over 2000 years old
    </p>
    <div class="play-btn">
      <div class="play-btn-inner"><i class="fa fa-play"></i></div>
      <small><b>LEARN MORE</b></small>
    </div>
  </div>
  <div class="app-picture">
    <img src="assets/crpto.jpg" alt="Picture">
  </div>
</div>

<div class="social-icons">
  <ul>
    <li><a href="#"><i class="fa-brands fa-facebook-f"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
    <li><a href="#"><i class="fa-brands fa-linkedin-in"></i></a></li>
  </ul>
</div>

<div class="quick-links">
  <ul>
    <li><i class="fa-solid fa-share-nodes"></i><p>SHARE TO</p></li>
    <li><i class="fa-solid fa-newspaper"></i><p>RECENT NEWS</p></li>
    <li><i class="fa-solid fa-chart-line"></i><p>ANALYTICS</p></li>
    <li><i class="fa-solid fa-wallet"></i><p>WALLET</p></li>
  </ul>
</div>

