<div class="menu-container">
  <div class="menu">
    <img class="logo" ngSrc="favicon.ico" height="30" width="28" alt="logo">
    <ul>
      <li><a routerLinkActive="active" routerLink="/">Home</a></li>
      <li><a routerLinkActive="active" routerLink="/html-css">Html-Css</a></li>
      <li><a routerLinkActive="active" routerLink="/bootstrap-tutorial">Bootstrap</a></li>
      <li><a routerLinkActive="active" routerLink="/test">Product</a></li>
    </ul>
    <a href="#" class="signup-btn"><span>Sign Up</span></a>
  </div>
</div>
<router-outlet>
</router-outlet>
